:root {
    --color-background: #000000;
    --color-text: #00FF00;
    --color-link: #00FF00;
    --color-link-hover: #00CC00;
    --color-primary: #00FF00;
    --color-secondary: #008000;
    --color-tertiary: #00CC00;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-text);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    flex-grow: 1;
}

.navbar a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Media Query for Responsive Design */
@media screen and (max-width: 600px) {
    .navbar ul {
        flex-direction: column;
    }

    .navbar li {
        flex-grow: unset;
    }
}
  
  a {
    color: var(--color-link);
    text-decoration: none;
  }
  
  a:hover {
    color: var(--color-link-hover);
  }