:root {
    --color-background: #000000;
    --color-text: #00FF00;
    --color-link: #00FF00;
    --color-link-hover: #00CC00;
    --color-primary: #00FF00;
    --color-secondary: #008000;
    --color-tertiary: #00CC00;
  }
  
  body {
    background-color: var(--color-background);
    color: var(--color-text);
  }
  
  a {
    color: var(--color-link);
    text-decoration: none;
  }
  
  a:hover {
    color: var(--color-link-hover);
  }