.graphic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid var(--color-primary);
    height: 240px;
    margin-top: 20px;
}

.computer {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
    max-width: 20%;
    max-height: 20%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.computer.left {
    right: calc(100% - 80px);
}

.computer.right {
    left: calc(100% - 80px);
}

.line {
    position: absolute;
    top: 50%;
    left: 45px;
    right: 45px;
    height: 2px;
    background-color: #fff;
    transform: translateY(-50%);
}

.circle {
    width: 10px;
    height: 10px;
    background-color: #2196F3;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translate(-50%, -50%);
    animation: move 2s alternate;
    animation-iteration-count: 4; /* 4 back and forth */
}

@keyframes move {
    from {
        left: 50px;
    }
    to {
        left: calc(100% - 50px);
    }
}

@media screen and (max-width: 600px) {
    .line {
        left: 55px;
        right: 55px;
    }

    .circle {
        left: 55px;
    }

    @keyframes move {
        from {
            left: 55px;
        }
        to {
            left: calc(100% - 55px);
        }
    }

}
