.graphic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid var(--color-primary);
    height: 240px;
    margin-top: 20px;
}

.computer {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
    max-width: 20%;
    max-height: 20%;
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
}

.computer.left {
    right: calc(100% - 80px);
}

.computer.right {
    left: calc(100% - 80px);
}

#line {
    position: absolute;
    top: 70%;
    left: 45px;
    right: 45px;
    height: 2px;
    background-color: #fff;
    transform: translateY(-50%);
}

#textbox {
    position: absolute;
    top: 25%;
    left: 25px;
    padding: 5px 10px;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

#envelope {
    width: 15px;
    height: 15px;
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
    position: absolute;
    top: 70%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 600px) {
    .computer.left {
        right: calc(100% - 70px);
    }
    
    .computer.right {
        left: calc(100% - 70px);
    }
}