:root {
  --color-background: #000000;
  --color-text: #00FF00;
  --color-link: #00FF00;
  --color-link-hover: #00CC00;
  --color-primary: #00FF00;
  --color-secondary: #008000;
  --color-tertiary: #00CC00;
}

body, html {
  font-family: 'Ubuntu', Arial, sans-serif; /* Use Ubuntu with Arial as the fallback */
  background-color: var(--color-background);
  color: var(--color-text);
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-top: 5px;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-link-hover);
}

.no-select {
  user-select: none; /* Prevent text selection */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}