/* Import body_settings */
@import 'static/general_settings/body_settings.css';

nav {
    overflow: hidden;
    border: 2px solid var(--color-primary);
    margin-left: 5px;
    margin-right: 5px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    float: left;
  }
  
  nav ul li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: var(--color-background);
  }
  
  .contact {
    float: right;
  }
  
  .nav-right {
    float: left;
  }
  
  .nav-left li {
    float: right;
  }